<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>RELACS - README</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" type="text/css" href="../relacs.css">
  </head>

  <body>

    <div class="header">
      <div class="logo">
	<img src="../relacstux.png" alt="relacs-tux">
      </div>
      <div class="titles">
	<h1><img src="../relacslogo.png" alt="relacs"></h1>
	<h2><b>R</b>eal-time <b>El</b>ectrophysiological data <b>A</b>cquisition, <b>C</b>ontrol, and <b>S</b>timulation</h2>
	<h3>by Jan Benda, 2002 - 2008</h3>
      </div>
    </div>

    <table class="layout"><tr>
    <td class="navigation">
      <ul>
	<li><a href="../index.html">Home</a></li>
	<li><a href="../features">Features</a></li>
	<li><a href="../screenshots">Screenshots</a></li>
	<li><a href="../plugins">Plugins</a></li>
	<li><a href="../download">Download</a></li>
	<li><a href="index.html">Documentation</a>
          <ul>
            <li><a href="reference">User manual</a></li>
	    <li><a href="../plugins">Plugins</a></li>
            <li><a href="reference/classes.html">API reference</a></li>
            <li><a href="reference/relacsprogram.html">Internals</a></li>
            <li>README</li>
            <li><a href="install.html">INSTALL</a></li>
            <li><a href="changelog.html">ChangeLog</a></li>
            <li><a href="news.html">NEWS</a></li>
          </ul>
        </li>
	<li><a href="../faq">FAQ</a></li>
	<li><a href="../publications">Publications</a></li>
	<li><a href="../contributors">Contributors</a></li>
      </ul>
    </td>

    <td class="content">

    <a name="readme"></a>
    <h2>README</h2>
    <pre>
    </pre>

    </td>
    </tr></table>
      
<div class="trailer">
<!-- Created: Fri Feb  8 10:38:01 CET 2008 -->
<!-- hhmts start -->
Last modified: Wed Feb 13 09:52:00 CET 2008
<!-- hhmts end -->
    <a href="http://validator.w3.org/check?uri=referer"><img src="../valid-html401.png" alt="Valid HTML 4.01 Transitional" height="31" width="88" align="middle"></a>
</div>
  </body>
</html>
