[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=RELACS
Type=Application
Terminal=false
Name[en_US]=RELACS
Exec=relacs
Icon=relacstux.svg
GenericName[en_US]=RELACS
